@model Parcial03.Models.Pedidos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clientes.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientes.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
